

/*   Pagination   */
.pagination {
  margin-top: 50px;
}
.centre {
  align-items: center;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/*Registration*/

.form-control 
{
    margin-bottom:20px; 
}


.form-control label
{
    display:block;
    margin:8px 0;
    color : black;
}
.form-control input[type="text"],.form-control input[type="password"]
{
    display: block;
    width:100%;
    border: 2px solid black;
    font-size:0.9rem;
    padding:8px ;
}   

.form-control input[type="button"],
.form-control input[type="submit"]
{
    background-color: #3498db;
    color:#fff;
    font-size:1rem;
    width:100%;
    display: block;
    padding:8px 0px;
    margin-top: 16px;
    border:2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
}

.form-control span
{
    color:#f00;
    font-size: 0.8rem;
}

.error > span
{
    display:block;
}

.success > span
{
    display:none;
}
