.column {
  
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
  }

  .column img {
    width: 100%;
  }
  

  .row {
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 90%;
  }